
/*
//$(document).ready(function() {
//    $(".kika").click(function() {
//        console.log("here");
//        $(".kika").toggleClass("kikabig");
//        setTimeout(function(){ $("h3").append("The bouba/kiki effect is a non-arbitrary mapping between speech sounds and the visual shape of objects. This effect was first observed by German-American psychologist Wolfgang");
//        }, 2500);
//        
//    });
//});
*/
