body {
padding: 0px 0px 0px 0px;
background: #cccccc;
}

h1 {
font-family: Helvetica;
font-weight: 300;
font-size: 2em;
}

h2 {
font-family: Helvetica;
text-transform: uppercase;
font-weight: 300;
font-size: 1.5em;
}

div.sitetitle{
padding: 10px 10px 10px 20px;
}


div.a {
width: 200px;
height:200px;
background-color:red;
color: white;
position:fixed;
border-radius: 50%;
text-align: center;
position: relative;
    
}

div.b {
width: 200px;
height:200px;
background-color:blue;
color: white;
position:relative;
    
}
div.c {
width: 200px;
height:200px;
background-color:green;
color: white;
border-radius: 50%;
position:relative;
text-align: center;
    
}
div.d {
width: 200px;
height:200px;
 background-color:yellow;
position:relative;
    
}

div.a h2, div.b h2, div.c h2, div.d h2{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}