body {
background: #cccccc;
}

h1 {
font-family: Helvetica;
font-weight: 300;
font-size: 2em;
}

h2 {
font-family: Helvetica;
text-transform: uppercase;
font-weight: 300;
font-size: 1.5em;
}

div.sitetitle{
padding: 10px 10px 10px 20px;
}

div.a {
top: 20%;
width: 12em;
height:12em;
background-color:red;
color: white;
border-radius: 50%;
text-align: center;
position: fixed;   
}

div.big {
width: 100%;
height: 100%;
top: 0;
margin-top: 0;
left: 0;
margin-left: 0;
border-radius: 0;
background: #0f0;
}

div.b {
width: 200px;
height:200px;
background-color:blue;
color: white;
position: fixed;
    
}
div.c {
width: 200px;
height:200px;
background-color:green;
color: white;
border-radius: 50%;
text-align: center;
position: absolute;
    
}
div.d {
top: 70%;
width: 12em;
height:12em;
background-color:yellow;
position: fixed;    
}

div.big {
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    background: #0f0;
    transition: all .5s;
}

div.a h2, div.b h2, div.c h2, div.d h2{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}