body {
background: #fff8b2;
}

.topnav {
overflow: hidden;
background: #fff8b2;
}

.topnav a {
float: left;
font-family: Helvetica;
font-weight: 300;
font-size: 2em;
padding: 14px 16px;
text-decoration: none;
color: black;

}

.topnav a:hover {
text-decoration: underline;
color: black;
}

.topnav-right {
float: right;
}

h1 {
font-family: Helvetica;
font-weight: 300;
font-size: 2em;
line-height: 1.25em;

}

h2 {
font-family: Helvetica;
text-transform: uppercase;
font-weight: 300;
font-size: 1.5em;
}

p {
font-family: Helvetica;
font-weight: 300;
font-size: 1em;
line-height: 1.4em;
}

div.sitetitle{
padding: 10px 10px 10px 20px;
float: left;
}

div.navigation{
float: right;
}

div.about{
padding: 10px 10px 10px 20px;
width: 50vw;  
}


div.a {
position:fixed;
background: #fff8b2;
top: 10%;
width: 12em;
height:12em;
border: 2px solid black;
color: black;
border-radius: 0%;
text-align: center;
}

div.b {
position:fixed;
background: #fff8b2;
    

top: 70%;
width: 0; 
height: 0; 
border-top: 12em solid transparent;
border-bottom: 12em solid transparent;
border-left: 12em solid black;
/*border: 2px solid black;*/
color: black;
/*
width: 10em;
height: 10em;
border: 2px solid black;
color: black;
*/
text-align: center;
}

div.c {
position:fixed;
background: #fff8b2;
top: 50%;
width: 10em;
height:10em;
border: 2px solid black;
color: black;
border-radius: 100%;
text-align: center;
}

div.shark {
position:fixed;
background: #fff8b2;
top: 30%;
width: 20em;
display: inline;
/*height: 10em;*/
border: 2px solid black;
color: black;
text-align: center;
}

div.f {
position:fixed;
background: #fff8b2;
top: 10%;
width: 10em;
height:10em;
border: 2px solid black;
color: black;
border-radius: 100%;
text-align: center;
}

div.kika, div.taxonomy, div.zeitgeist {
position:relative;
margin: 0 auto;
background: #fff8b2;
border: 2px solid black;
width: 30%;
height: 20%;
transition: all 10s;
padding: 1em;
z-index: 1;

}

div.a h2, div.b h2, div.c h2, div.d h2{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}